.container > div{
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
}

a{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
}

html, body{
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    background-color: #ffeead;
}

.container > div:nth-child(1n){
    background-color: #96ceb4;
}

.container > div:nth-child(2n){
    background-color: #ff6f69;
}

.container > div:nth-child(3n){
    background-color: #88d8b0;
}